.App {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
  gap: 40px;

}
.c-card{
  text-align: center;
  border: 1px solid#ddd;
  border-radius: 8px;
  padding: 10px;

}
.c-flag {
  width: 80px;
  height: 60px;
  border-radius: 4px;
}
.c-name{
  font-size: 16px;

}
@media (prefers-reduced-motion: no-preference) {
 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
